<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EOS Premier Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="EOS Premier Bank" name="keywords" />
    <meta content="EOS Premier Bank" name="description" />

    <!-- Favicon -->
    <link href="../images/logo.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/adminCss/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../css/adminCss/style.css" rel="stylesheet" />
    <link href="../css/adminCss/adminform.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- start header  -->
      <%- include (`../partials/userHeader`); -%>
      <!-- end header -->

      <!-- Content Start -->
      <div class="content">
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Account Beneficiary List</h6>

              <!-- Toast start -->
              <div
                class="position-fixed bottom-0 end-0 p-3"
                style="z-index: 11"
              >
                <div id="toastContainer" class="toast-container"></div>
              </div>
              <!-- Toast End -->

              <a href="/user/addBeneficiary">Add New Beneficiary</a>
            </div>
            <div class="table-responsive">
              <table
                class="table text-start align-middle table-bordered table-hover mb-0"
              >
                <thead>
                  <tr class="text-dark">
                    <th scope="col">Full Name</th>
                    <th scope="col" style="text-align: center">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">ID Number</th>
                    <th scope="col">Account</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (beneficiaries.length > 0) { %> <%
                  beneficiaries.forEach(beneficiary => { %>
                  <tr class="center">
                    <td>
                      <%= beneficiary.firstName %> <%= beneficiary.lastName %>
                    </td>
                    <td><%= beneficiary.email %></td>
                    <td><%= beneficiary.number %></td>
                    <td><%= beneficiary.idNumber %></td>
                    <td><%= beneficiary.accountType %></td>
                    <td><%= beneficiary.address %> <%= beneficiary.city %></td>

                    <td data-label="Profile">
                      <!-- View Button -->
                      <input
                        type="button"
                        value="View"
                        class="btn btn-primary btn-sm view-button btnBorder rstBtnWidth"
                        data-beneficiary-id="<%= beneficiary._id %>"
                        data-url="/user/viewBeneficiary"
                        onclick="showViewBeneficiaryModal(this)"
                      />
                      <!-- Edit Button -->
                      <input
                        type="button"
                        value="Edit"
                        class="btn btn-primary btn-sm edit-button btnBorder rstBtnWidth rstBtnWidthSpace1"
                        data-beneficiary-id="<%= beneficiary._id %>"
                        onclick="showEditBeneficiaryModal(this)"
                      />
                      <!-- Delete Button -->
                      <input
                        type="button"
                        value="Delete"
                        style="margin-top: 4px"
                        class="btn btn-danger btn-sm delete-button btnBorder"
                        data-beneficiary-id="<%= beneficiary._id %>"
                        data-url="/user/deleteBeneficiary"
                        onclick="showDeleteBeneficiaryModal(this)"
                      />
                    </td>
                  </tr>
                  <% }); %> <% } else { %>
                  <tr>
                    <td colspan="6" class="text-center">
                      You are yet to have Beneficiary with EOS PREMIER BANK
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div class="pagination">
                <% if (currentPage > 1) { %>
                <a href="/user/beneficiary?page=<%= currentPage - 1 %>"
                  >Previous</a
                >
                <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
                <a
                  href="/user/beneficiary?page=<%= i %>"
                  class="<%= currentPage === i ? 'active' : '' %>"
                >
                  <%= i %>
                </a>
                <% } %> <% if (currentPage < totalPages) { %>
                <a href="/user/beneficiary?page=<%= currentPage + 1 %>">Next</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!-- Recent Sales End -->

        <!-- START VIEW Beneficiary -->
        <div id="viewBeneficiaryModal" class="modal">
          <div style="height: 500px; overflow-y: auto">
            <div class="modal-content">
              <span
                class="close"
                style="cursor: pointer"
                onclick="closeViewBeneficiaryModal()"
                >&times;</span
              >
              <div class="mt-4">
                <div class="card-body p-0">
                  <h4 class="p-3 mb-0">Beneficiary Information</h4>
                  <div id="modalContent">
                    <!-- dynamically create the HTML for the modal form elements after fetching the product details -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END VIEW Beneficiary -->

        <!-- START EDIT Beneficiary -->
        <div id="editBeneficiaryModal" class="modal styleInput">
          <div class="modal-content">
            <span
              class="close"
              style="cursor: pointer"
              onclick="closeEditBeneficiaryModal()"
              >&times;</span
            >
            <h2>Edit Beneficiary</h2>
            <form
              id="editBeneficiaryForm"
              method="post"
              action="/user/editBeneficiaryPost"
            >
              <div id="editBeneficiaryFormContent">
                <!-- dynamically create the HTML for the modal form elements after fetching the Beneficiary details -->
              </div>
              <div class="col-12 d-flex button_div">
                <button style="background-color: #009cff" type="submit">
                  Submit
                </button>
                <button
                  style="background-color: #009cff"
                  type="button"
                  onclick="closeEditBeneficiaryModal()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- END EDIT Beneficiary -->

        <!-- Footer Start -->
        <%- include (`../partials/userFooter`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
  </body>
</html>
