<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EOS Premier Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="EOS Premier Bank" name="keywords" />
    <meta content="EOS Premier Bank" name="description" />

    <!-- Favicon -->
    <link href="../images/logo.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/adminCss/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../css/adminCss/style.css" rel="stylesheet" />
    <link href="../css/adminCss/adminform.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- start header  -->
      <%- include (`../partials/userHeader`); -%>
      <!-- end header -->

      <!-- Content Start -->
      <div class="content">
         <!-- Navbar revenue Start -->
         <%- include (`../partials/userNav`); -%>
         <!-- Navbar and revenue End -->
          
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Local Funds Transfer</h6>
            </div>

            <div class="container py-5">
              <div class="row">
                  <div class="col-lg-6 mx-auto">
                      <div class="card ">
                          <div class="card-header">
                              <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                  <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                      <li class="nav-item">
                                         <a data-toggle="pill" href="#credit-card" class="nav-link active "> 
                                          <i class="fas fa-university mr-2"></i> 
                                          Local Transfer 
                                        </a> 
                                      </li>
                                  </ul>
                              </div>
                              <!-- Credit card form content -->
                              <div class="tab-content">
                                  <div id="credit-card" class="tab-pane fade show active pt-3">
                                    <form role="form" onsubmit="event.preventDefault()">
                                      <div class="form-group marginTop"> 
                                        <label for="username" class="textSide"> <h6>Bank Name</h6></label> 
                                        <input type="text" name="bankName" value="EOS premier bank" class="form-control" readonly> 
                                      </div>
                                      <div class="form-group marginTop">
                                        <label for="cardNumber"  class="textSide"> <h6>Receiver's Account Number</h6> </label>
                                        <div class="input-group">
                                          <input type="number" name="receiverAcntNbr" maxlength="10" placeholder="Receiver's Account Number" class="form-control ">
                                        </div>
                                      </div>
                                      <div class="form-group marginTop">
                                        <label for="cardNumber"  class="textSide"> <h6>Receiver's Name</h6> </label>
                                        <div class="input-group">
                                          <input type="text" name="receiverName" placeholder="Receiver's Name" class="form-control ">
                                        </div>
                                      </div>
                                      <div class="form-group marginTop">
                                        <label for="cardNumber"  class="textSide"> <h6>Amount include transfer fee of $50</h6> </label>
                                        <div class="input-group">
                                          <input type="text" name="amount" placeholder="Amount" class="form-control ">
                                        </div>
                                      </div>
                                      <div class="form-group marginTop">
                                        <label for="cardNumber" class="textSide">
                                          <h6>Sender Account Number: <span id="swiftCode" class="infoText"><%= user.accountNumber %></span></h6>
                                        </label>
                                        <label for="cardNumber" class="textSide"> 
                                          <h6>Swift Code: <span id="swiftCode" class="infoText"><%= user.swiftCode %></span></h6> 
                                        </label>
                                        <label for="cardNumber" class="textSide"> 
                                          <h6>Date of Transfer: <span id="dateNow" class="infoText"></span></h6> 
                                        </label>
                                   
                                      </div>
                                      <div class="form-group marginTop">
                                        <label for="cardNumber"  class="textSide"> <h6>Transfer Description</h6> </label>
                                        <div class="input-group">
                                          <textarea type="text" name="TfDescription" placeholder="Write your message here..."       class="form-control" cols="2" rows="3" maxlength="250"></textarea>
                                        </div>
                                      </div>
                                      <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Proceed Payment </button>
                                      </form>
                                  </div>
                              </div>
                              <!-- End -->
                          </div>
                      </div>
                  </div>
              </div>

            <!-- Footer Start -->
            <%- include (`../partials/userFooter`); -%>
            <!-- Footer End -->
          </div>
          <!-- Recent Sales End -->
        </div>
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
  </body>
</html>
